page-favoritos {
    .border{
        background-color: beige;
    }
    .borderImg{
        border-radius: 10px;
    }

}
#favoritos{
    color: red;
    fill: red;
    font-size: 25px;
    padding-left: 170px;
  }
#favoritos.red{
    color: gray;
    fill: gray;

  }

h4{
  color: black;
  font-family: "Arial Black";
}
