page{

}
.imgRedonda {
  width:350px;
  height:100%;
  border-radius:20px;
}
.alinea{
  text-align: left;
}
.co{
  color:  #7B1FA2;
}
.le{
  font-weight: bold;
}
#heart{
  color: gray;
  font-size: 25px;
  padding-left: 170px;
}
#heart.red{
  color: red;
  fill: red;
}
#adoptar{
  color: gray;
  font-size: 25px;
  padding-left: 170px;
}
#adoptar.red{
  color: red;
  fill: red;
}